.audio_broadcast_btn-ended {
      background-color: #ff5c75;
      position: fixed;
      color: #fff;
      z-index: 99;
      right: 0;
      margin-bottom: 20px;
      margin-right: 20px;
      cursor: pointer;
      border: none;
      font-size: 10px;
      padding: 10px;
      bottom: 70px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
}
.local_video {
  position: fixed;
  /* color: #fff; */
  z-index: 99;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  font-size: 10px;
  padding: 10px;
  bottom: 70px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.remote_video {
  position: fixed;
  /* color: #fff; */
  z-index: 99;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  font-size: 10px;
  padding: 10px;
  bottom: 170px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.audio_switch_button {
  background-color: #fff;
     position: fixed;
     color: #000;
     z-index: 99;
     right: 0;
     margin-bottom: 80px;
     margin-right: 20px;
     cursor: pointer;
     border: none;
     font-size: 10px;
     padding: 10px;
     bottom: 70px;
     border-radius: 50%;
     width: 50px;
     height: 50px;
}

.audio_broadcast_btn-started {
  background-color: #5cffb3;
     position: fixed;
     color: #fff;
     z-index: 99;
     right: 0;
     margin-bottom: 20px;
     margin-right: 20px;
     cursor: pointer;
     border: none;
     font-size: 10px;
     padding: 10px;
     bottom: 70px;
     border-radius: 50%;
     width: 50px;
     height: 50px;
  /* animation: recording 1s infinite; */
}

@keyframes recording {
  from {
    /* box-shadow: rgba(0, 255, 231, 0.33); */
    border: 1px solid #ed7489;

  }

  to {
    /* box-shadow: 0px 0px 0px 10px #FC5185; */
        border: 3px solid #e7c4ca;
  }
}

.participant-host-video-container{
  background-color: #3a4d6469;
  position: fixed;
  color: #fff;
  z-index: 999;
  right: 0;
  margin-bottom:0px;
  margin-right: 80px;
  cursor: pointer;
  border: none;
  font-size: 10px;
  padding: 10px;
  bottom: 20px;
  width: 38rem;
  height: 30vh;
  max-height:30vh;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

video {
  height: 100%;
  width: 15rem;
}
.host-video-container {
  height: 10rem;
  border:2px solid;
  margin: 10px;
}
.local-video-container {
  height: 10rem;
  border:2px solid;
  margin: 10px;
}

video.host-video {
  background-color: #000;
  display: flex;
  position: relative;
  flex-direction: column;
}
video.local-video {
  background-color: #000;
  display: flex;
  position: relative;
  flex-direction: column;
}
.video-label{
  margin:0;
  position: absolute;
  top:0;
  padding: 10px;
  background-color: #ed7489;
  width: auto;
}
.hide{
  position: absolute;
  top:0;
  right:0;
  font-weight: bolder;
  padding-right: 10px;
}
.remote-participant-video-container{
  height: 10rem;
  border:2px solid;
  margin: 10px;
}