.picker-container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 99;
}

aside.emoji-picker-react {
  background: #fff!important;
  display: flex!important;
  flex-direction: column!important;
  height: 320px!important;
  width: 280px!important;
  font-family: sans-serif!important;
  border: 1px solid #efefef!important;
  border-radius: 5px!important;
  box-sizing: border-box!important;
  box-shadow: none!important;
  overflow: hidden!important;
  position: fixed!important;
  z-index: 9999!important;
  left: 17%!important;
  bottom: 10%!important;
}