.side{
    
    background-color: #2dca8c;
    background-attachment: fixed;
    /* background-size: cover;
    background-image:url('../../media/images/rocket.svg');
    width: 4px; */
}

.home-button {
    position: fixed !important;
    color: white !important;
}

.rocket-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rocket-cont img {
    margin: 25% auto;
    opacity: 0.6;
}
