
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime. 
# See README for more details.

# Get this from https://mlab.com/home after you've logged in and created a database
MONGODB_URI=mongodb+srv://codemon:p5P1Xe2S3owNQ5Kp@colabcluster-l9o6x.gcp.mongodb.net/colab?retryWrites=true&w=majority


# This is standard running mongodb locally
MONGODB_URI_LOCAL=mongodb://localhost:27017/colab

JWT_SECRET_KEY=woiuhg6f546v7b890-k0987h765f654s4wecrvtbynumiiuytr5ewzxrctvybuij