.commuities{
  background-image: url('../../../media/images/man-wearing-white-long-sleeved-shirt-holding-black-pen-3182781.jpg');
}
.search-community-container{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.community-data-container {
  display:flex;
  justify-content: flex-start;
}