@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', 'Nunito';
}

.bg-gold {
  color: gold;
}

@media screen and (max-width:320px) {
  .login-container {
    margin: 20px;
  }
}

@media screen and (max-width:749px) {
  .registration-container {
    margin: 20px;
  }

  .registration-container.p-7 {
    padding: 0;
    margin: 20px;
  }

  .side {
    display: none;
  }

  .conversation__container {
    display: none;
  }

  .vp-dead {
    display: block;
  }

  .login-container {
    margin: 20px;
  }
}